.medium-6.medium-centered.large-4.large-centered.columns
  .row.column.log-in-form
    %h3 Resend confirmation

    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      .row.column
        .field
          .devise_links= f.label :email
          .devise_links= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

      .row.column
        .actions
          = f.submit("Resend confirmation instructions", class: 'button expanded')
        .text-center
          = render "devise/shared/links"
