= search_form_for @q do |f|
  .row#form-text-search
    .col-md-2
      = f.label "I want to..."
      = f.select :function, feature_selector(Feature::FUNCTION, true), prompt: ' - Any - '
    .col-md-2
      = f.label :read_format, "Using file format..."
      = f.select :read_format, imageformat_selector(true), prompt: ' - Any - '
    .col-md-2
      = f.label :platform, "On platform..."
      = f.select :platform, feature_selector(Feature::PLATFORM, true), prompt: ' - Any - '
    .col-md-2
      = f.label :name_cont, "Name contains"
      = f.search_field :name_cont
  .row
    .col-md-4.submit-buttons
      %button.btn.btn-primary{type: :submit}
        / %span.glyphicon.glyphicon-search
        Search
      = f.submit "Clear", :type => "reset", class: 'button btn btn-secondary'
