= search_form_for @q do |f|
  .row#form-text-search
    .col-md-2
      = f.label :function
      = f.select :function, Feature.selector_values(Feature::FUNCTION), prompt: '  -  '
    .col-md-2
      = f.label :read_format
      = f.select :read_format, ImageFormat.selector_values, prompt: '  -  '
    .col-md-2
      = f.label :platform
      = f.select :platform, Feature.selector_values(Feature::PLATFORM), prompt: '  -  '
    .col-md-2
      = f.label :name_cont
      = f.search_field :name_cont
    .col-md-2
      = f.label :summary_cont
      = f.search_field :summary_cont
  .row
    .col-md-2
      = f.label :interface
      = f.select :interface, Feature.selector_values(Feature::INTERFACE), prompt: '  -  '
    .col-md-2
      = f.label :speciality
      = f.select :speciality, Feature.selector_values(Feature::SPECIALITY), prompt: '  -  '
    .col-md-2
      = f.label :write_format
      = f.select :write_format, ImageFormat.selector_values, prompt: '  -  '
    .col-md-2
      = f.label "Audience"
      = f.select :for_audience, Feature.selector_values(Feature::AUDIENCE), prompt: '  -  '
    .col-md-2
      = f.label "Source code"
      = f.select :language, Feature.selector_values(Feature::LANGUAGE), prompt: '  -  '
  .row
    .col-md-2
      = f.label "Display"
      = f.select :display_function, Feature.selector_values(Feature::DISPLAY), prompt: '  -  '
    .col-md-2
      = f.label "Header"
      = f.select :header_function, Feature.selector_values(Feature::HEADER), prompt: '  -  '
    .col-md-2
      = f.label "Network"
      = f.select :network_function, Feature.selector_values(Feature::NETWORK), prompt: '  -  '
    .col-md-2
      = f.label "Other"
      = f.select :other_function, Feature.selector_values(Feature::OTHER), prompt: '  -  '
    .col-md-2
      = f.label "Programming"
      = f.select :programming_function, Feature.selector_values(Feature::PROGRAMMING), prompt: '  -  '
  .row
    .col-md-4.submit-buttons
      %button.btn.btn-primary{type: :submit}
        Search
      = f.submit "Clear", :type => "reset", class: 'button btn btn-secondary'
