- if @search_params
  .search_params
    - nterm = @search_params.count
    - if nterm > 0
      %table.search_summary_table
        - caption = "You searched for #{nterm} #{'term'.pluralize(nterm)}"
        %thead
          %tr
            %th{colspan: 2} 
              #{caption}
              %button.btn.btn-primary.btn-sm#show_search_text Modify search
        %tbody
          - @search_params.each do |param|
            %tr
              %td= param[0]
              %td= param[1]
    - else
      .search_summary_table
        You did not enter any search terms
