.notice= notice
- provide(:title, "Full Text Search")
- if @programs and @programs.count > 0
  .row
    .col-sm-12
      You searched for the string
      %span.fulltext_highlight #{@search_param}
      = fulltext_image_format(@search_param)
      = fulltext_feature(@search_param)

  .row
    .col-sm-12.programs-table
      %table.table.table-hover
        %thead
        %tbody
          - @programs.with_pg_search_highlight.each do |program|
            %tr
              %td
                %span.fulltext_progname=link_to(program.name, program_path(program))
                = program.pg_search_highlight.html_safe
  .row
    .col-sm-6.col-sm-offset-3.pagin
      .pagin-info
        = page_entries_info @programs
      .pagin-list
        = paginate @programs
- else
  Nothing matches: 
  %span.fulltext_highlight #{@search_param}
