.notice= notice
- provide(:title, "Full Text Search")
- if @programs and @programs.count > 0
  .row
    .col-sm-12.programs-table
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Summary
            %th Rating
            %th{colspan: 2}  Features
        %tbody
          - @programs.each do |program|
            %tr
              %td= link_to(program.name, program_path(program))
              %td= program.summary
              %td= program_rating_str(program)
              %td.tight= platforms_str(program, false)
              %td.tight= source_str(program)
  .row
    .col-sm-6.col-sm-offset-3.pagin
      .pagin-info
        = page_entries_info @programs
      .pagin-list
        = paginate @programs
