.notice= notice
- provide(:title, "Programs")

- if @programs
  .row
    .col-sm-6
      =render 'program_search_summary'
      .search_params_modify
        %button#show_search_text Modify search
.row
  .col-sm-12
    = render 'program_search'
- if @programs and @programs.count > 0
  .row
    .col-sm-12.programs-table
      %table.table.table-hover
        %thead
          %tr
            %th= sort_link(@q, :name )
            %th Summary
            %th= sort_link(@q, :rating )
            %th{colspan: 2}  Features
        %tbody
          - @programs.each do |program|
            %tr
              %td= link_to(program.name, program_path(program))
              %td= program.summary
              %td= program_rating_str(program)
              %td.tight= platforms_str(program, false)
              %td.tight= source_str(program)
  .row
    .col-sm-6.col-sm-offset-3.pagin
      .pagin-info
        = page_entries_info @programs
      .pagin-list
        = paginate @programs
