<%= form_for(@image_format) do |f| %>
  <% if @image_format.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_format.errors.count, "error") %> prohibited this image_format from being saved:</h2>

      <ul>
      <% @image_format.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :search_level %><br>
    <%= f.text_field :search_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
