.site_title
  .main_title
    = link_to("I Do Imaging", root_path)
  .sub_title
    Free Medical Imaging Software

  %nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    .collapse.navbar-collapse#navbarContent
      %ul.navbar-nav
        %li.nav-item.active
          =link_to("Home"    , home_path, class: 'nav-link')
        %li.nav-item
          =link_to("Programs", programs_path, class: 'nav-link')
        %li.nav-item
          =link_to("Demo"    , "http://idoimaging.com/demo", target: 'new', class: 'nav-link')
        %li.nav-item
          =link_to("Data"    , "http://idoimaging.com/wiki/tiki-index.php?page=Sample+Data", target: 'new', class: 'nav-link')
        %li.nav-item
          =link_to("Wiki"    , "http://wiki.idoimaging.com", target: 'new', class: 'nav-link')
        %li.nav-item
          =link_to("Blog"    , "http://blog.idoimaging.com", target: 'new', class: 'nav-link')
        %li.nav-item
          =link_to("About", about_path, class: 'nav-link')
      %ul.navbar-nav.navbar-right
        %li
        - if signed_in?
          %li= link_to current_user.email.gsub(/@.+/, ''), current_user
          %li= link_to("Log out", destroy_user_session_path, method: :delete)
          %li= link_to("Admin", admin_root_path) if (current_user.admin? or current_user.editor?)
        - else
          %li= link_to "Register", new_user_registration_path
          %li= link_to "Log in", new_user_session_path
