%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", :'data-toggle' => "collapse", :'data-target' => "#navbar", :'aria-expanded' => false}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
      %a.navbar-brand=link_to("I Do Imaging", root_path)
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li=link_to "Home"    , home_path
        %li=link_to "Programs", programs_path
        %li=link_to "Demo"    , "http://idoimaging.com/demo", target: 'new'
        %li=link_to "Data"    , "http://idoimaging.com/wiki/tiki-index.php?page=Sample+Data", target: 'new'
        %li=link_to "Wiki"    , "http://idoimaging.com/wiki", target: 'new'
        %li=link_to "Blog"    , "http://blog.idoimaging.com", target: 'new'
      %ul.nav.navbar-nav.navbar-right
        %li
        - if signed_in?
          %li= link_to current_user.email, current_user
          %li= link_to("Log out", destroy_user_session_path, method: :delete)
          %li= link_to("Admin", admin_root_path) if (current_user.admin? or current_user.editor?)
        - else
          %li= link_to "Register", new_user_registration_path
          %li= link_to "Log in", new_user_session_path
