%h2 Stats

Here are some 
%strong stats
on the site.

There are #{Program.active.imaging.count} active programs listed out of #{Program.count} total, from #{Author.count} authors.

#{recent_versions(30).count} program versions have been added in the last month, and #{recent_versions(90).count} in the last quarter.