.notice= notice
.row
  .col-md-12
    .row
      %h1 Features
.row
  .col-sm-8
    %table
      %thead
        %tr
          - %w(Name Value Description).each do |head|
            %th= head
      %tbody
        - @features.each do |feature|
          %tr
            %td= feature.name
            %td= feature.value
            %td= feature.description
.row
  = link_to 'New Feature', new_feature_path
