!!!
%html{lang: "en"}
  %head
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
    %meta{charset: "utf-8"}
    %title= content_for?(:title) ? "#{yield(:title)} : I Do Imaging" : "I Do Imaging"
    = csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    =stylesheet_link_tag "https://fonts.googleapis.com/css?family=Fjalla+One|Roboto|Open+Sans"

    =javascript_include_tag "application", 'data-turbolinks-track' => 'reload'
    / -#javascript_include_tag "https://www.google.com/recaptcha/api.js"

  %body
    .container
      = render "shared/navigation"
      / = render "layouts/messages"
      = flash_messages
      = yield
      / = debug(params) if Rails.env.development?
      = render 'layouts/footer'
